/* General Conditions */

*{
    max-width: 100%;
    text-align: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E9EDEE;
}

/* Header */
header{
    text-align: left;
}
.headerFooter{
    background-color: #222F3F;
    text-align: left;
}
header img{
    max-width: 10%;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 5px;
}
.nav{
    text-align: left;
    background-color: #364759;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 25px;
}
ul{
    text-align: left;
}
nav li{
    text-decoration: none;
    text-align: left;
    display: inline;
    padding: 10px;
}
nav li a{
    text-align: left;
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
}

/* Main */

main{
    padding: 30px;
}

.preBanner{
    padding-bottom: 10px;
}

main h3{
    text-align: center;
    background-color: #F66600;
    color: white;
    font-size: 0.9rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner1{
    background-image: url(../images/bg-image.png);
    margin-top: 20px;
}
h1{
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-top: 70px;
    padding-bottom: 30px;
}
#h1P{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding-bottom: 40px;
}
.row {
   object-fit: cover;
}

.column {
    display: inline-block;
    height: 44vh;
    width: 20%;
    overflow: hidden;
    padding: 0px;
    margin: 22px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-fit: cover;
}

#foto1{
    background-image: url(../images/img_1.jpg);
    background: no-repeat;
    object-fit: cover;
}
#foto2{
    background-image: url(../images/img_2.jpg);
    background: no-repeat;
    object-fit: cover;
}
#foto3{
    background-image: url(../images/img_3.jpg);
    background: no-repeat;
    object-fit: cover;
}
#foto4{
    background-image: url(../images/img_4.jpg);
    background: no-repeat;
    object-fit: cover;
}

.cards{
    object-fit: cover;
}

.cardSection{
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.inline{
    text-align: left;
    text-decoration: none;
}

.caption {
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 5px;
}
/* Footer */
.darkblue {
    background-color: #222f3f;
    padding: 10px;
}
#logo2 {
    width: 10%;
    background-color: #222f3f;
    padding: 80px;
}
#backto {
    background-color: #364759;
    text-decoration: underline;
    padding: 20px;
}
#backto a {
    color: white;
}
html{
    scroll-behavior: smooth;
}
