body{
    margin: auto;
    width: 50%;
    padding: 10px;
}
header{
    text-align: center;
    font-size: 0.7rem;
}
header img{
    scale: 70%;
}
header h2{
    background-color: #FDFBF1;
}
body img{
    border-radius: 10px;
}