/* IMPOSTAZIONI GENERALI */
body{
    margin: auto;
    font-family: poppins;
    text-align: center;
    padding: 20px;
    background-image: url(../img/sfondo.png);
    line-height: 1.5rem;
}
a{
    color: #0CA1C8;
}
/* HEADER */
#logo{
    margin: auto;
    scale: 60%;
}
#header{
    margin: auto;
    background: rgb(35,120,158);
    background: linear-gradient(0deg, rgba(35,120,158,1) 0%, rgba(21,188,241,1) 100%);
    text-align: center;
    color: white;
    padding-bottom: 20px;
    box-shadow: 10px 10px 42px -11px rgba(0,0,0,0.75);
    line-height: 2.5rem;
}
header a{
    text-decoration: none;
    color: white;
    line-height: 1.5rem;
}
header i{
    padding-left: 5px;
    padding-right: 5px;
}
h1{
    padding-top: 30px;
    font-size: 2rem;

}
/* MAIN */
#main{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    background-color: white;
    text-align: left;
    box-shadow: 10px 10px 42px -11px rgba(0,0,0,0.75);

}
/* ELEMENTI NEL MAIN - ARTICLE */
#titolo-post{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.5rem;
    padding-bottom: 20px;
}
.testo{
    padding-bottom: 20px;
}
#sottotitolo{
    color: rgba(128, 128, 128, 0.452);
    padding-bottom: 20px;
}
.viola{
    color: #A22972;
}
#ul{
    list-style-type: unset;
    margin: auto;
    padding-left: 20px;
    padding-bottom: 20px;
}
ol{
    list-style-type: decimal;
    margin: auto;
    padding-left: 20px;
    padding-bottom: 20px;
}
/* TABELLE */
#table{
    margin: auto;
    border-bottom: 2px solid #3A6CC9;
    margin-bottom: 30px;
}
#caption{
    font-weight: 800;
    font-style: italic;
}
th{
    background-color: #3A6CC9;
    color: white;
}
th, td, tr{
    padding: 10px;
}
#t-iframe{
    padding-bottom: 20px;
}
iframe{
    
}
/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
