<div class="container-fluid px-0">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
      <a class="navbar-brand text-white" routerLink="/">Autosalone Mary</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="/audi">Audi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="/fiat">Fiat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="/ford">Ford</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="my-5 container">

  <router-outlet></router-outlet>

</div>
<footer>
  <div class="container-fluid bg-dark">
    <div class="container bg-dark">
      <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 d-flex">
        <div class="col mb-3">

          <a class="text-white mb-4 text-decoration-none fs-3" routerLink="/">Autosalone Mary © 2024</a>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
          <h5 class="text-white mb-4 text-decoration-none fs-4" routerLink="/audi">Audi</h5>
        </div>

        <div class="col mb-3">
          <h5 class="text-white mb-4 text-decoration-none fs-4" routerLink="/fiat">Fiat</h5>
        </div>

        <div class="col mb-3">
          <h5 class="text-white mb-4 text-decoration-none fs-4" routerLink="/ford">Ford</h5>
        </div>
      </footer>
    </div>
  </div>
</footer>
