<div class="container col-xxl-8 px-4 py-1">
  <div class="row flex-lg-row-reverse align-items-center py-5 justify-content-around">
    <div class="col-10 col-sm-8 col-lg-2">
      <img src="..//src/assets/loghi/Audi-Logo_2016.svg.png" class="d-block img-fluid" width="700"
        height="500" loading="lazy" routerLink="/audi">
    </div>
    <div class="col-lg-6">
      <h2 class="display-5 fs-1 fw-bold text-body-emphasis lh-1 mb-3">Le nostre Audi incredibili, a un prezzo scontatissimo!!!</h2>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div>
<div class=" d-flex justify-content-around">

  <div class="col-6 px-3" *ngFor="let macchina of audiArr">
    <div class="card">
      <img src="{{macchina.modelImage}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{macchina.model}}</h5>
        <p class="card-text">Anno: {{macchina.year}}, Prezzo: {{macchina.price}}</p>
        <a href="#" class="btn text-white" [ngClass]="{'bg-success':macchina.available, 'bg-danger':!macchina.available}">{{ macchina.available ? 'Acquista' : 'Niente macchina per te!' }}</a>
      </div>
    </div>
  </div>
</div>
